*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Settings Files #
.settings
.project
.classpath

# Maven #
target/

# IntelliJ Settings Files (https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems) #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/libraries/
*.iml