*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Settings Files #
.settings
.project
.classpath
target/
test-output/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/encodings.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_4_4.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_4_0.xml
*.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_1.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
*.xml
.idea/encodings.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_4_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_4_4.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_4_4.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_3_3_v20150827.xml
.idea/modules.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vcs.xml
