<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 Markus Kreusch
  This file is licensed under the terms of the MIT license.
  See the LICENSE.txt file for more info.
  
  Contributors:
      Markus Kreusch - switched to log4j 2
-->
<Configuration status="WARN" packages="org.cryptomator.ui.logging">

	<Appenders>
		<Console name="StdOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
		</Console>
		<Console name="StdErr" target="SYSTEM_ERR">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
		<ConfigurableFile name="DefaultLog" pathPropertyName="cryptomator.logPath" append="false">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
		</ConfigurableFile>
		<ConfigurableFile name="UpgradeLog" pathPropertyName="cryptomator.upgradeLogPath" append="true">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
		</ConfigurableFile>
	</Appenders>

	<Loggers>
		<!--
			= NOTE =
			All loggers below are set to info.
			This is required to allow changing the levels of the loggers programmatically.
		-->
		<Logger name="org.cryptomator" level="INFO" />
		<Logger name="org.eclipse.jetty.server.Server" level="INFO" />
		<Logger name="org.cryptomator.ui.model" level="INFO">
			<AppenderRef ref="UpgradeLog" />
		</Logger>
		
		<!-- defaults: -->
		<Root level="INFO">
			<AppenderRef ref="StdOut" />
			<AppenderRef ref="StdErr" />
			<AppenderRef ref="DefaultLog" />
		</Root>
	</Loggers>

</Configuration>
