<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 Markus Kreusch
  This file is licensed under the terms of the MIT license.
  See the LICENSE.txt file for more info.
  
  Contributors:
      Markus Kreusch - switched to log4j 2
-->
<Configuration status="WARN" packages="org.cryptomator.ui.logging">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
		</Console>
		<Console name="StdErr" target="SYSTEM_ERR">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
		<!-- <File fileName="${sys:logPath}" ...> not feasible for paths like ~/foo/bar -->
		<ConfigurableFile name="File" pathPropertyName="cryptomator.logPath">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
		</ConfigurableFile>
	</Appenders>

	<Loggers>
		<!-- show our own debug messages: -->
		<Logger name="org.cryptomator" level="DEBUG" />
		<Logger name="org.eclipse.jetty.server.Server" level="DEBUG" />
		<!-- mute dependencies: -->
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="StdErr" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>
