@CHARSET "US-ASCII";

.root {
	-fx-background-color: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
}

.text {
    -fx-font-smoothing-type: lcd;
}

.button,
.combo-box {
	-fx-border-color: #888888;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0, 4.0;
    -fx-border-radius: 3.0;
    -fx-border-width: 0.5;
}

.text-field {
	-fx-border-radius: 3.0;
    -fx-border-width: 0.5;
}

.button.green,
.button.red,
.split-menu-button.green,
.split-menu-button.red {
	-fx-background-radius: 3.0;
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 1px 1px 1px 1px;
}

.button.green,
.button.red,
.split-menu-button.green > .label,
.split-menu-button.red > .label {
	-fx-text-fill: #FFF;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
	-fx-font-family: "lucida-grande";
}

.split-menu-button.green > .arrow-button > .arrow,
.split-menu-button.red > .arrow-button > .arrow {
	-fx-background-color: #FFF;
}

.button.green,
.split-menu-button.green > .label,
.split-menu-button.green > .arrow-button {
	-fx-background-color: linear-gradient(to bottom, #33EE55, #22AA33);
}

.button.green:hover,
.split-menu-button.green > .label:hover,
.split-menu-button.green > .arrow-button:hover {
	-fx-background-color: linear-gradient(to bottom, #33EE55, #118822);
}

.button.green:armed,
.split-menu-button.green:armed > .label,
.split-menu-button.green > .arrow-button:pressed,
.split-menu-button.green:showing > .arrow-button {
	-fx-background-color: linear-gradient(to bottom, #118822, #22AA33 20%, #33EE55);
}

.button.green:disabled,
.split-menu-button.green:disabled,
.split-menu-button.green:disabled > .label,
.split-menu-button.green:disabled > .arrow-button {
	-fx-background-color: #22AA33;
}

.button.red,
.split-menu-button.red > .label,
.split-menu-button.red > .arrow-button {
	-fx-background-color: linear-gradient(to bottom, #EE5533, #AA3322);
}

.button.red:hover,
.split-menu-button.red > .label:hover,
.split-menu-button.red > .arrow-button:hover {
	-fx-background-color: linear-gradient(to bottom, #EE5533, #882211);
}

.button.red:armed,
.split-menu-button.red:armed > .label,
.split-menu-button.red > .arrow-button:pressed,
.split-menu-button.red:showing > .arrow-button {
	-fx-background-color: linear-gradient(to bottom, #882211, #AA3322 20%, #EE5533);
}

.button.red:disabled,
.split-menu-button.red:disabled,
.split-menu-button.red:disabled > .label,
.split-menu-button.red:disabled > .arrow-button {
	-fx-background-color: #AA3322;
}

.split-menu-button .menu-item:focused {
	-fx-background-color: #CCC;
}

.split-menu-button .menu-item .label {
	-fx-text-fill: #000000;
}

.text-field {
	-fx-border-radius: 3.0;
    -fx-border-width: 0.5;
	-fx-border-color: #888888;
	-fx-background-color: #FFFFFF;
	-fx-padding: 4 2 4 2;
}

.text-field:focused {
	-fx-background-color: #FFFFFF;
}
