@CHARSET "US-ASCII";

.root {
	-fx-background-color: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
}

.text {
    -fx-font-smoothing-type: lcd;
}

.label {
	-fx-alignment: CENTER;
	-fx-font-family: "lucida-grande";
}

.button,
.combo-box {
	-fx-text-fill: #000000;
	-fx-background-color: linear-gradient(to bottom, #FFFFFF, #DDDDDD);
	-fx-border-color: #888888;
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 4.0, 4.0;
    -fx-border-radius: 3.0;
    -fx-border-width: 0.5;
	-fx-font-family: "lucida-grande";
	-fx-font-weight: normal;
}

.text-field {
	-fx-border-radius: 3.0;
    -fx-border-width: 0.5;
	-fx-border-color: #888888;
	-fx-focus-color: #FF0000;
	-fx-background-color: transparent;
	-fx-padding: 5 2 5 2;
}

.text-field:focused {
	-fx-background-color: #DDDDDD;
}

.button:armed,
.button:selected,
.combo-box:armed,
.combo-box:selected {
	-fx-background-color: linear-gradient(to bottom, #DDDDDD, #CCCCCC 30%, #EEEEEE);
}

.combo-box .list-cell  {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-text-base-color;
}

.combo-box .list-cell:hover  {
	-fx-background-color: #DDDDDD;
}

.combo-box-popup .list-view  {
	-fx-padding: 0 0 0 0;
	-fx-background-insets: 0, 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0.0, 0, 0);
}
