<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright (c) 2014 Sebastian Stenzel
  This file is licensed under the terms of the MIT license.
  See the LICENSE.txt file for more info.
  
  Contributors:
      Sebastian Stenzel - initial API and implementation
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%16d %-5p [%c{1}:%L] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="info" />
        </filter>
	</appender>
	
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err"/>
		<param name="threshold" value="warn" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%16d %-5p [%c{1}:%L] %m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/tmp/webdav.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%16d %-5p [%c{1}:%L] %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="console" />
		<appender-ref ref="stderr" />
	</root>
	
	
</log4j:configuration>
