/*******************************************************************************
 *                                                                             *
 * COLORS                                                                      *
 *                                                                             *
 ******************************************************************************/
 
.root {
	WHITE: #FFF;
	PRIMARY_BG: #79B01A;
}


/*******************************************************************************
 *                                                                             *
 * Main Window                                                                 *
 *                                                                             *
 ******************************************************************************/
 
.main-window .title {
	-fx-background-color: PRIMARY_BG;
}


/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
	-fx-background-color: WHITE;
    -fx-padding: 0.2em 0.4em 0.2em 0.4em;
    -fx-font-size: 0.8em;
}