<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration scan="true" debug="true">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/.Cryptomator/cryptomator.log</file>
		<append>false</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/.Cryptomator/cryptomator%i.log</fileNamePattern>
			<minIndex>0</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="org.cryptomator.logging.LaunchBasedTriggeringPolicy" />
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="UPGRADE_FILE" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.Cryptomator/upgrade.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.cryptomator" level="INFO" />
	<logger name="org.eclipse.jetty.server.HttpChannel" level="INFO" />
	<logger name="org.cryptomator.ui.model" level="INFO">
		<appender-ref ref="UPGRADE_FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
