<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<if condition="isDefined(&quot;cryptomator.logDir&quot;)">
		<then>
		<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${user.home}/${cryptomator.logDir}/cryptomator0.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<fileNamePattern>${user.home}/${cryptomator.logDir}/cryptomator%i.log</fileNamePattern>
				<minIndex>1</minIndex>
				<maxIndex>9</maxIndex>
			</rollingPolicy>
			<triggeringPolicy class="org.cryptomator.logging.LaunchBasedTriggeringPolicy" />
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
		</appender>

		<appender name="UPGRADE_FILE" class="ch.qos.logback.core.FileAppender">
			<file>${user.home}/${cryptomator.logDir}/upgrade.log</file>
			<append>true</append>
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			</encoder>
		</appender>
		</then>
		<else>
			<appender name="FILE" class="ch.qos.logback.core.helpers.NOPAppender"/>
			<appender name="UPGRADE_FILE" class="ch.qos.logback.core.helpers.NOPAppender"/>
		</else>
	</if>

	<logger name="org.cryptomator" level="INFO" />
	<logger name="org.eclipse.jetty.server.HttpChannel" level="INFO" /> <!-- set to DEBUG to see http reqquests -->
	<logger name="org.cryptomator.ui.model" level="INFO">
		<appender-ref ref="UPGRADE_FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>